<body ng-controller="home">
    <div class="row container">
        <div class="col s12 m12">
            <h4 class="center">Bem vindo!!</h4>
        </div>
    </div>
    <div class="row center">
        <div class="col s12 m6 l6">
            <button class="home-button teal darken-4 btn waves-effect waves-light" type="button" ng-click="verReceitas()">
                Ver Receitas
                <i class="material-icons right">visibility</i>
            </button>
        </div>
        <div class="col s12 m6 l6">
            <button class="home-button teal darken-4 btn waves-effect waves-light" type="button" ng-click="verDespesas()">
                Ver Despesas
                <i class="material-icons right">visibility</i>
            </button>
        </div>
    </div>
</body>