<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>CUGA</title>

</head>
<body>
    <h3 class="center">Gerencie fácilmente suas receitas e despesas</h3>
    <div class="container carousel carousel-slider center" data-indicators="true">
        <div class="carousel-item grey darken-3 white-text">
            <h2>Cadastro de Receitas</h2>
            <p class="white-text">Com esta ferramenta vocễ pode fácimente cadastrar, ver, modificar e excluir suas receitas</p>
        </div>
        <div class="carousel-item green darken-1 white-text">
            <h2>Cadastro de Despesas</h2>
            <p class="white-text">Com esta ferramenta vocễ pode fácimente cadastrar, ver, modificar e excluir suas despesas item a item</p>
        </div>
        <div class="carousel-item orange darken-2 white-text">
            <h2>Fixos ou Variáveis?</h2>
            <p class="white-text">Você pode cadastrar despesas e receitas fixas(ocorrem sempre em um determinado período) como aluguéis, internet, parcelas, etc ou depesas variáveis como faturas, feiras, boletos, etc.</p>
        </div>
    </div>
</body>
</html>