<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cadastro de Usuario</title>
</head>
<body ng-controller="usuarios">
    <div ng-form="formUser" class="form">
        <label for="username">Usuário:</label>
        <input id="username" type="text" ng-required="true" ng-model="username">
        <label for="pass">Senha:</label>
        <input id="pass" type="password" ng-required="true" ng-model="senha">
        <input type="button" ng-click="cadUser()" ng-disabled="!formUser.$valid" value="Cadastrar">
    </div>
</body>
</html>