<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Nova Despesa</title>
</head>
<body ng-controller="cadDespesas">
<div ng-form="despesa" class="container">
    <div class="row">
        <div class="col s12">
            <h4 class="center">Nova Despesa</h4>
        </div>
    </div>
    <div class="row">
        <div class="col s12">
            <div class="input-field col m6 s12">
                <label for="origem">Local: </label>
                <input type="text" id="origem" class="validate" ng-required="true" ng-model="origem">
            </div>
            <div class="input-field col m6 s12">
                <label for="local">Cidade: </label>
                <input type="text" id="local" class="validate" ng-required="true" ng-model="local">
            </div>
            <div class="col m4 s12">
                <label >Repetição:</label>
                <select class="browser-default validate" ng-model="repeticao" ng-required="true">
                    <option value="" disabled selected>Fixa ou Variável?</option>
                    <option value="variavel">Variavel</option>
                    <optgroup label="Fixa:">
                        <option value="dia">Diária</option>
                        <option value="semana">Semanal</option>
                        <option value="quinzena">Quinzenal</option>
                        <option value="mes">Mensal</option>
                        <option value="ano">Anual</option>
                    </optgroup>
                </select>
            </div>
            <div class="col m4 s12">
                <label for="data">Data: </label>
                <input type="date" id="data" ng-model="data" ng-required="true">
            </div>
            <div class="col m4 s12">
                <label for="total">Total: </label>
                <input type="text" id="total" ng-model="total" readonly>
            </div>
            <div id="items">
                <fieldset data-ng-repeat="item in itens">
                    <div class="row">
                        <div class="col m5 s12">
                            <label>Descricao: </label>
                            <input type="text" class="validate" ng-model="item.descricao" ng-required="true">
                        </div>
                        <div class="col m2 s12">
                            <label>Quantidade: </label>
                            <input type="number" value="1" class="validate" ng-model="item.quantidade" step="1" min="0" ng-required="true" ng-change="item.valort=(item.valor*item.quantidade).toFixed(2); ftotal()">
                        </div>
                        <div class="col m2 s12">
                            <label>Valor Unitario(R$):</label>
                            <input type="text" class="validate" ng-model="item.valor" ng-required="true" ng-change="item.valort=(item.valor*item.quantidade).toFixed(2); ftotal()">
                        </div>
                        <div class="col m2 s12">
                            <label>Valor Total(R$):</label>
                            <input type="text" ng-model="item.valort" readonly>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col s4 m8">
            <button class="teal darken-4 btn waves-effect waves-light" type="submit" name="action" ng-click="cadDespesa()"
                    ng-disabled="!despesa.$valid">Cadastrar
                <i class="material-icons right">done</i>
            </button>
        </div>
        <div class="col s4 m2">
            <a class="btn-floating waves-effect waves-light red" ng-click="newItem()"><i class="material-icons">add</i></a>
        </div>
        <div class="col s4 m2">
            <a class="btn-floating waves-effect waves-light red" ng-click="remItem()"><i class="material-icons">delete</i></a>
        </div>
    </div>
</div>
</body>
</html>
