<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Receitas</title>
</head>
<body ng-controller="verReceitas">
    <div class="container">
        <div class="row">
            <div class="col s12 l6"><h3 class="center">Receitas</h3></div>
            <div class="col s6 l3"><h5 class="center">Referência:<br/>{{referencia}}</h5></div>
            <div class="col s6 l3"><h5 class="center">Total:<br/>{{soma}}</h5></div>
        </div>
        <div class="col s4 m2 right">
            <a class="btn-floating waves-effect waves-light red" ng-click="newItem()"><i class="material-icons">add</i></a>
        </div>
        <h5 class="center" ng-if="dados.length === 0">Não há receitas cadastradas!</h5>
        <table class="highlight responsible-table" ng-if="dados.length > 0">
            <thead>
                <tr>
                    <th>Origem</th>
                    <th>Valor</th>
                    <th>Data</th>
                    <th>Repetição</th>
                    <th>Editar</th>
                    <th>Remover</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in dados">
                    <td>{{r.origem}}</td>
                    <td>{{r.valor}}</td>
                    <td>{{r.data}}</td>
                    <td>{{r.repeticao}}</td>
                    <td><i class="material-icons mao" ng-click="edit(r._id)">edit</i></td>
                    <td><i class="material-icons mao" ng-click="remove(r._id)">delete</i></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>